<div id="<%= dom_id trip %>">
  <div>
    <strong>Name:</strong>
    <%= trip.name %>
  </div>

  <div>
    <strong>Start date:</strong>
    <%= trip.start_date %>
  </div>

  <div>
    <strong>End date:</strong>
    <%= trip.end_date %>
  </div>

  <div>
    <strong>Participants:</strong>
    <%= trip.participants %>
  </div>

</div>
